aside {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.9rem;
    padding-left: 0rem;
    background-color: bisque;
}

aside .logo {
    margin-left: 1.9rem;
}

aside .main-nav {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

aside .nav-group {
    display: flex;
    flex-direction: column;
}

aside .nav-group-title {
    margin-left: 1.9rem;
    text-transform: uppercase;
}

aside .nav-list {
    display: flex;
    flex-direction: column;
}

aside .link {
    padding: 0.6rem 2.5rem;
    text-decoration: none;
    color: black;
}

aside .active {
    background-color: white;
    color: orange;
}