.popular-categories {
    display: flex;
    flex-direction: column;
}
.popular-categories .popular {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}
.popular-categories .categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
}
.categories {
    border-radius: 1rem;
    padding: 0.7rem 0.8rem;
}
.categories .design {
    line-height: 0.5em;
}
.categories .design > .text1 {
    font-weight: bold;

}
.categories .design > .text2 {
    font-size: 0.8rem;
}
.categories .icon > img {
    background-color: #F4F2FF;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}