.main-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}

.form {
    position: relative;
}

.form > input {
    line-height: 1.2rem;
    font-size: 1rem;
    padding: 1rem 1.2rem 1rem 3rem;
    height: 3rem;
    width: 22.5rem;
    border: none;
    background-color: #ddd;
    border-radius: 1.5rem;
}

.user-block {
    display: flex;
    align-items: center;
    gap: 1.9rem;
}

.notifications {
    font-size: 1.2rem;
    color: #333; 
    position: relative;
}

.notifications > .buble {
    height: 0.4rem;
    width: 0.4rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}

.avatar {
    height: 3.1rem;
    border-radius: 50%;
}


.form > .fa {
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: #777;
    position: absolute;
    top: 0.6rem;
    left: 1rem;
}
