 * {
     box-sizing: border-box;
 }
 body {
     display: grid;
     grid-template-columns: 300px 1fr;
     margin: 0;
     background-color: bisque;
     min-height: 100vh;
 }

 aside {
     background-color: ;
 }

 main {
     background-color: white;
 }
