* {
     box-sizing: border-box;
}
body {
     display: grid;
     grid-template-columns: 18.7rem 1fr;
     margin: 0;
     min-height: 100vh;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
     display: grid;
     grid-template-columns: 1fr 2fr 1fr;
     grid-template-areas: 
     'header header header'
     'progress progress subscription'
     'popular mentors mentors';
     align-items: start;
     align-content: start;
     padding: 2.5rem 1.9rem;
     gap: 1.2rem;
     background-color: white;
}
.course-progress {
     grid-area: progress;
}
.subscription {
     grid-area: subscription;
}
.popular-categories {
     grid-area: popular;
}
.top-mentors {
     grid-area: mentors;
}
.block {
     display: grid;
     grid-template-columns: auto auto;
     gap: 1.2rem 1.2rem;
}
.block.block-bg {
     padding: 1rem;
     background-color: #EEFCEF;
     border-radius: 1.9rem;
}
.block > .title {
     margin: 0rem;
     font-size: 1.2rem;
}
.block > .link {
     align-self: center;
     justify-self: end;
     font-size: 0.8rem;
     text-decoration: none;
     color: #333;
}

.block> .content {
     margin-top: 2.7rem;
     grid-column: span 1;
}
.block> .title + .content {
     margin-top: 0rem;
     grid-column: span 2;
}
.block> .link +.content {
     margin-top: 0rem;
     grid-column: span 2;
}
.subscription .content {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #feefd0;
     padding: 1.7rem;
     text-align: center;
     border-radius: 1rem;
}
.subscription .content > img {
     margin-top: -7.2rem;
}
.yellow-submarine {
     display: inline-block;
     padding: 0.5em 1em;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.2rem;
     background-color: orange;
     color: black;
     text-decoration: none;
     text-align: center;
     border: none;
     border-radius: 0.3em;
     cursor: pointer;
     user-select: none;
}
.yellow-submarine:hover {
     cursor: pointer;
     color: #fff;
}